@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply m-0 box-border border-border p-0;
  }

  img {
    @apply h-max max-w-none;
  }

  body {
    @apply max-w-full overflow-x-hidden bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  ::selection {
    background: black;
    color: white;
  }

  .logo {
    /* Add your styles here */
    transition: transform 0.3s;
  }
  .logo:hover {
    transform: scale(1.1);
  }

  .nav-mobile-box {
    @apply lg-1k:hidden;
  }

  .header {
    @apply relative flex justify-between m-[4rem] gap-16 max-lg-1k:flex-col max-lg-1k:items-center max-lg-1k:justify-center max-2xl-12p:m-[4rem_6rem] max-xl-12:m-[2rem];
  }

  .header-left-side {
    @apply flex justify-between p-[3rem_0_1rem] ml-20 max-md-650:ml-0;
  }

  .header-content {
    @apply mb-12 justify-center gap-10 max-md-650:mb-8 max-md-650:gap-8;
  }

  .header-content,
  .header-left-side {
    @apply flex flex-col;
  }

  .header-main-heading {
    @apply text-6xl font-bold leading-[55px] text-[#212121] max-md-650:text-3xl;
  }

  .header-main-helper-text {
    @apply w-[300px] text-base font-normal leading-6 text-[#666];
  }

  .clients {
    @apply bg-zinc-700 w-full p-20 flex justify-evenly items-center gap-4 gap-x-6 max-[450px]:flex-col;
  }

  .header-right-side {
    @apply flex flex-1 max-lg-1k:hidden;
  }

  .header-circle .header-image {
    @apply relative top-[-5%] right-7;
  }

  .header-circle {
    @apply h-[500px] w-[500px] rounded-[50%] bg-[#ffece3];
  }

  .header-left-side {
    @apply flex flex-1;
  }

  .subtitle {
    @apply mb-8 flex flex-col gap-5 text-center;
  }

  .subtitle > span {
    @apply text-[12px] leading-[15px] tracking-[0.1em] text-[#0062f5];
  }

  .subtitle > h2 {
    @apply text-[32px] leading-[40px] tracking-[0.03em] max-[450px]:text-2xl;
  }

  .subtitle > span,
  .subtitle > h2 {
    @apply text-center font-bold;
  }

  .products-container {
    @apply mt-10;
  }

  .product-card {
    @apply transform py-8 duration-500 ease-in-out hover:scale-110 min-[1000px]:ml-14 max-2xl-12p:flex max-2xl-12p:flex-col max-2xl-12p:items-center max-2xl-12p:justify-center max-2xl-12p:px-0 max-2xl-12p:py-[2rem];
  }

  .product-card img {
    @apply max-lg-1k:h-[400px] max-lg-1k:w-[380px] max-md-650:h-[320px] max-md-650:w-[300px];
  }

  .product-card img {
    @apply h-[400px] w-[300px];
  }

  .product-name,
  .product-price {
    @apply mt-2 font-semibold leading-6 text-[#212121];
  }

  .product-name {
    @apply text-[1.1rem] tracking-[0.03em];
  }

  .product-price {
    @apply text-[1.12rem];
  }

  .features-section {
    @apply mt-16 max-xl-12:mt-0 bg-gradient-to-br from-white to-[#eff2fd];
  }

  .features-section .title {
    @apply flex justify-center p-[0_8rem_2rem] max-2xl-12p:p-[0_6rem] max-xl-12:justify-center max-xl-12:p-[2rem_4rem];
  }

  .features-section .title h1 {
    @apply mt-12 text-center text-[2.75rem] font-bold leading-[55px] tracking-[.03em] text-[#212121] max-xl-12:w-[80%] max-lg-1k:w-full max-md-650:text-[2.5rem];
  }

  .features-section .content {
    @apply p-[0_4rem_4rem] max-2xl-12p:p-[0_6rem] max-xl-12:gap-[4rem];
  }

  .features-section .content,
  .features-section .title {
    @apply max-xl-12:p-[2rem_4rem] max-sm-450:p-[1rem_2rem];
  }

  .features-section .content .left {
    @apply relative text-center grid grid-cols-3 gap-12 max-xl-12:gap-[2rem] max-lg-1k:grid-cols-1 max-xl-12:grid-cols-2;
  }

  .features-section .content .left .feature-background {
    @apply absolute z-[1] text-[6.5rem] font-extrabold leading-[110px] text-[#212121] opacity-[.07] max-lg-1k:text-[6rem] max-md-650:text-[5rem] max-sm-450:text-[3.6rem];
  }

  .features-section .content .left div {
    @apply z-[2] flex flex-col items-center mt-10 gap-3;
  }

  .features-section .content .left h3 {
    @apply mb-4 text-[1.125rem] font-semibold leading-[20px] tracking-[.03em] text-[#212121];
  }

  .features-section .content .left p {
    @apply text-[1rem] w-[70%] font-light leading-[22px] tracking-wider text-[#212121];
  }

  .features-section .content .right {
    @apply flex items-center justify-center gap-8 max-lg-1k:flex-col;
  }

  .features-section .content .right div {
    @apply flex flex-col gap-8;
  }

  .features-section .content .right p {
    @apply text-justify text-[1rem] font-light leading-[26px] text-[#212121];
  }

  .features-section .btn {
    @apply flex w-[50%] items-center justify-center gap-2 bg-[#212121] px-0 py-[10px] text-[.875rem] font-semibold leading-[18px] text-[#fff];
  }

  .newsletter {
    @apply relative z-[1] flex flex-col items-center justify-center p-[10rem_8rem] text-center max-xl-12:p-[6rem_4rem] max-md-650:p-[6rem_2rem];
  }

  .newsletter-background {
    @apply absolute z-[-1]  text-[7.5rem] font-extrabold leading-[151px] text-[#f2f3f7] max-lg-1k:text-[6.2rem] max-md-650:text-[4rem] max-[375px]:text-[2rem];
  }

  .newsletter h1 {
    @apply mb-4 text-[2rem] font-bold leading-[40px] tracking-[.03em] text-[#212121] max-md-650:mb-[.5rem] max-md-650:text-[1.8rem];
  }

  .newsletter p {
    @apply mb-8;
  }

  .newsletter form {
    @apply flex items-start justify-start gap-4 max-lg-1k:flex-col;
  }

  .newsletter input {
    @apply border-[1px] border-gray-500 bg-[#fcfcfc] p-[6px_16px_6px_16px];
  }

  .newsletter button {
    @apply p-[10px_20px] text-[.9rem] font-semibold leading-[16px] text-[#fff] max-lg-1k:p-[10px_40px];
  }

  .footer {
    @apply p-[4rem_8rem] max-2xl-12p:p-[2rem_6rem] max-xl-12:p-[4rem] max-md-650:p-[4rem_2rem] border-t-2 border-gray-100;
  }

  .footer {
    @apply flex justify-around items-start max-lg-1k:flex-col max-lg-1k:items-center max-lg-1k:gap-[2rem] bg-gray-200;
  }

  .footer .logo {
    @apply flex flex-col items-center max-lg-1k:w-full  max-lg-1k:gap-[2rem];
  }

  .footer .footer-links {
    @apply max-lg-1k:flex max-lg-1k:flex-col max-lg-1k:text-center max-lg-1k:justify-center max-lg-1k:items-center;
  }

  .footer .footer-links p {
    @apply mt-5 leading-relaxed max-lg-1k:justify-center;
  }

  .footer li,
  .footer p {
    @apply text-[1rem] font-normal leading-[22px] text-[#666];
  }
  .footer-links h3 {
    @apply text-[1.2rem] font-bold leading-[19px] tracking-[.02em] text-[#666];
  }

  .footer li {
    @apply mt-[15px] first:mt-[25px];
  }

  .footer li,
  .footer p {
    @apply text-base font-normal leading-[22px] text-[#666];
  }

  .cart,
  .size li,
  button,
  .footer li,
  nav li {
    @apply cursor-pointer list-none;
  }

  /* .copyright {
    @apply bg-gray-200 justify-center border-t-[1px] border-solid max-lg-1k:mt-0 max-md-650:flex-col;
  }

  .copyright p {
    @apply m-[1.5rem_8rem] max-lg-1k:m-[0.8rem_2rem];
  } */

  .copyright.icon-container {
    @apply mt-5 flex justify-center gap-4;
  }

  .Allproducts-container {
    @apply grid grid-cols-4 items-center justify-between gap-x-[2rem] gap-y-[6rem] max-2xl-12p:grid-cols-3 max-lg-1k:grid-cols-2 max-md-650:grid-cols-1;
  }

  .Allproduct-card {
    @apply h-full w-full lg-1k:w-[300px];
  }

  .Allproduct-card img {
    @apply h-full w-full xl-12:h-[80%] xl-12:w-[80%];
  }

  .Allproduct-name {
    @apply mt-2 text-[1.05rem];
  }

  .Allproduct-name,
  .Allproduct-price {
    @apply font-semibold leading-6 tracking-[0.03em] text-[#212121];
  }

  .Allproduct-tags {
    @apply mt-0.5 text-[15px] font-semibold leading-[15px] text-[#888];
  }

  .Allproduct-price {
    @apply mt-4 text-xl;
  }

  .products {
    @apply max-2xl-12p:p-[4rem_6rem] max-xl-12:p-16 max-md-650:p-8 2xl-12p:m-[4rem_6rem_4rem_6rem];
  }

  .product-detail-container {
    @apply flex justify-between max-lg-1k:flex-col;
  }
}

.prose-headings\:my-8
  :is(
    :where(h1, h2, h3, h4, h5, h6, th):not(
        :where([class~='not-prose'], [class~='not-prose'] *)
      )
  ) {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.prose-headings\:font-lora
  :is(
    :where(h1, h2, h3, h4, h5, h6, th):not(
        :where([class~='not-prose'], [class~='not-prose'] *)
      )
  ) {
  font-family: var(--lora);
}

.prose-headings\:text-\[clamp\(24px\2c
  16px_\+_2vw\2c
  30px\)\]
  :is(
    :where(h1, h2, h3, h4, h5, h6, th):not(
        :where([class~='not-prose'], [class~='not-prose'] *)
      )
  ) {
  font-size: clamp(24px, 16px + 2vw, 30px);
}

.prose-headings\:font-semibold
  :is(
    :where(h1, h2, h3, h4, h5, h6, th):not(
        :where([class~='not-prose'], [class~='not-prose'] *)
      )
  ) {
  font-weight: 600;
}

.prose-headings\:text-darkPurple
  :is(
    :where(h1, h2, h3, h4, h5, h6, th):not(
        :where([class~='not-prose'], [class~='not-prose'] *)
      )
  ) {
  --tw-text-opacity: 1;
  color: rgb(92 92 112 / var(--tw-text-opacity));
}
